.sjx {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid red;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.sjx-1 {
  width: 0px;
  height: 0px;
  border-top: 10px solid red;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 10px solid transparent;
}
.sjx-2 {
  width: 0px;
  height: 0px;
  border-top: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid red;
  border-left: 10px solid transparent;
}

.div {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-top: 20px;
}

.box1 {
  /* 圆 */
  /* border-radius: 50%; */
  border-radius: 50px;
}

.box2 {
  /* 半圆 */
  height: 50px;
  border-radius: 50px 50px 0 0;
}

.box3 {
  /* 椭圆 */
  height: 50px;
  border-radius: 50px/25px;
  /* x轴/y轴 */
}

/*
0% 0% 表示左上角的顶点。
100% 0% 表示右上角的顶点。
100% 100% 表示右下角的顶点。
0% 50% 表示左边缘，距离顶部一半高度的点。
当我们将这些顶点连接起来，元素的左下角就会呈现出一个对角线裁剪的三角形效果，如同将左下角剪掉一半一样。
*/
.three-img {
  background-image: url('../img//qrcode.svg');
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 0%);
}
