{
  "presets": [
    [
      "@babel/preset-env",
      // 下面是按需引入的配置 @babel/polyfill 很大
      {
        "useBuiltIns": "usage",
        "corejs": 3
      }
    ]
  ],
  "plugins": [
    [
      // 解决全局对象重名
      "@babel/plugin-transform-runtime",
      {
        "absoluteRuntime": false,
        "corejs": 3,
        "helpers": true,
        "regenerator": true,
        "useESModules": false
      }
    ]
  ]
}
